 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');
// helper for visuale responsive
// body {
 
//   padding-top: 20px;
//   &:before {
//     z-index: 10001;
//     line-height: 20px;
//     font-weight: bold;
//     text-align: center;
//     position: fixed;
//     font-size: 20px;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 20px;
//     background: limegreen;
//     content: "Xsmall";
//   }
//   @include media-breakpoint-up(sm) {
//     &:before {
//       content: "small";
//       background: #f00;
//     }
//   }
//   @include media-breakpoint-up(md) {
//     font-size: $font-size-base;
//     &:before {
//       content: "middle";
//       background: green;
//     }
//   }
//   @include media-breakpoint-up(lg) {
//     &:before {
//       content: "Large";
//       background: turquoise;
//     }
//   }
//   @include media-breakpoint-up(xl) {
//     &:before {
//       content: "XLarge";
//       background: #f09;
//     }
//   }
//   @include media-breakpoint-up(xxl) {
//     &:before {
//       content: "XXLarge";
//       background: #90f;
//     }
//   }
// }
// end of helper

// header

body{
    min-height: 650px;
}


.burger{
  label{
     @include media-breakpoint-up(lg){
       display: none;
     }
  }
  input[type="checkbox"]{
    position: absolute;
    left: -9999px;
  }
  input[type="checkbox"]:checked ~ ul.burger-list{
    transform: none;
  }
  label{
    width: 60px;
    height:45px;
    border:1px solid grey;
    position: relative;
    cursor: pointer;
    span{
      width:26px;
      height: 2px;
      background: grey;
      position: absolute;
      background: $white;
      left: calc(50% - 13px);
      &:first-child{
        top: calc(50% - 8px);
      }
      &:nth-child(2){
        top: calc(50% - 1px);
      }
      &:last-child{
        top: calc(50% + 6px)
      }
    }
  }
}
ul.burger-list{
  @include media-breakpoint-down(lg) {
    top: 100px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $gableGreen;

    width:100%;
    height: calc(100vh - 100px);
    align-items: center;
    transform: translate(0, -200vh);
    transition: transform 1s ease;
    position: absolute;
    li{
      padding-bottom: 25px;
      a{
        font-size: 26px;
      }
    }
    span{
      display: none;
    }
  }
}




.bg-color-of-header{
  background: $gableGreen;
  height: 100px;
  position: inherit;
}
.logo{
  width:105px;
  padding-bottom: 10px;
  img{
    padding-right: 5px;
  }
  strong{
    color: $white;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 8px;
    letter-spacing: 5px;
    padding-bottom: 4px;
    span{
      font-size: 7px;
      letter-spacing: 10px;
      line-height: 0px;
      padding-left: 1px;
    }
  }
}
.navigation-menu{
  li {
    padding-left: 3.1rem;
    padding-bottom: 0.17rem;
    position: relative;
    a{
    text-transform: uppercase;
    letter-spacing: .5px;
  }
  &:last-child a{
    padding-right: 0rem;
    outline:none
  }
}
}
.point{
  content:"";
  width:5px;
  height: 5px;
  background: $Supernova;
  top:7px;
  left:21px;
  position: absolute;
}
.bg-intro{
  height: calc(100vh - 100px);
  background: $Firefly;
  .bg-intro-line{
  background: $gableGreen;
  height: 370px;
  // position: relative;
  }
span{
    width:60px;
    height: 60px;
    background: $Supernova;
    display: block;
    position: absolute;
    bottom:0px;
    right: calc(50% - 30px);
    &:before{
      background: url('../sprite/sprite.png') no-repeat -85px -30px;
      width: 20px;
      height: 19px;
      position: absolute;
      top: calc(50% - 9px);
      left: calc(50% - 9px);
      display: block;
      content: "";
    }
  }
}
.bg-intro-line{
  background: $gableGreen;
  .intro-align{
    height: 370px;
    padding: 52px 0px 65px;
  }
  h1{
    text-align: center;
    letter-spacing: -1px;
    
  }
}
